# Python virtual environment
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Environment variables
.env

# Logs
*.log

# Static files build (ako generiraš npr. build statičkih)
staticfiles/
static/__pycache__/

# Database files (ako imaš lokalne DB)
*.sqlite3
*.db

